
@{
    ViewBag.Title = "AdminPanel";
}

<h2>AdminPanel</h2>

<ul class="list-group">
    <li class="list-group-item">
        <h5>@Html.ActionLink("Manage trainers", "Index", "UserCourses", routeValues: null, htmlAttributes: new { title = "Manage trainers" })</h5>
    </li>
    <li class="list-group-item">
        <h5>Action</h5>
    </li>
    <li class="list-group-item">
        <h5>Action</h5>
    </li>
</ul>