@model IEnumerable<GymManagement.Models.ScheduleTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            
        </th>
        <th>
            Luni
        </th>
        <th>
            Marti
        </th>
        <th>
            Miercuri
        </th>
        <th>
            Joi
        </th>
        <th>
            Vineri
        </th>
        <th>
            Sambata
        </th>
        <th>
            Duminica
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            @foreach (var course in item.coursesName)
            {
                <td>
                    @Html.DisplayFor(modelItem => course)
                </td>
            }
        </tr>
    }




</table>
